numpy>=1.12
pulp
matplotlib>=2.0.0,<3.0.0
networkx==2.1
setuptools>=12
setuptools_scm
git+git://github.com/bradfordboyle/pyglpk.git@c3323af1692d9ea9a17aae965b649d8deede3293#egg=glpk
subprocess32
EasyProcess
pyscipopt>2.0.0,<3.0.0
pandas
recommonmark
sphinx_rtd_theme
